<!DOCTYPE html>

<head>
    <style>
        div {
            height: 200px;
            width: 400px;
            background: white;

            position: fixed;
            top: 20%;
            left: 50%;
            margin-top: -100px;
            margin-left: -200px;
        }
    </style>
</head>

<html>
<body>
    <div>
        <h1>Hello DevOps Glasgow 👋 </h1>
        <img width="90%" src=" https://secure.meetupstatic.com/photos/event/4/b/e/3/highres_478699427.jpeg">

        </br>
        </br>

        <p>I love a brew and the day can't start without one..
            <!-- <img width="10%" img src="static/arabica-594.png"></img> -->
            <!-- <img width="20%" img src="static/gummy-coffee.png"></img> -->
        </p>
    </div>
</body>
</html>